---
copyright: Copyright &copy; 2025 bwrob
edit_uri: edit/main/docs/

repo_name: bwrob/debug-dojo
repo_url: https://github.com/bwrob/debug-dojo
site_author: bwrob
site_description: debug dojo, a place for zen debugging
site_name: debug dojo
site_url: https://bwrob.github.io/debug-dojo/

theme:
  name: material
  logo: logo/logo_white.png
  favicon: logo/logo_white.png
  palette:
    # Light mode
    - scheme: default
      primary: black
      accent: indigo
      media: "(prefers-color-scheme: light)"
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    # Dark mode
    - scheme: slate
      primary: black
      accent: indigo
      media: "(prefers-color-scheme: dark)"
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  font:
    text: Roboto
    code: JetBrains Mono
  features:
    - announce.dismiss
    - content.action.edit
    - content.action.view
    - content.code.annotate
    - content.code.copy
    - content.code.select
    - content.footnote.tooltips
    - content.tabs.link
    - content.tooltips
    - navigation.expand
    - navigation.footer
    - navigation.indexes
    - navigation.instant
    - navigation.instant.prefetch
    - navigation.instant.progress
    - navigation.path
    - navigation.prune
    - navigation.sections
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.top
    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest
    - toc.follow
    - toc.integrate

markdown_extensions:
  - smarty
  - toc:
      permalink: true
  - sane_lists
  - admonition
  - pymdownx.details
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.emoji
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      linenums: true
      use_pygments: true
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: pymdownx.superfences.fence_code_format
  - pymdownx.snippets
  - pymdownx.magiclink
  - pymdownx.tasklist:
      custom_checkbox: true

plugins:
  - search
  - git-authors
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          options:
            show_symbol_type_toc: true
            show_source: true
            members_order: alphabetical
  - mkdocs-typer2
  - git-revision-date-localized:
      enable_creation_date: true

nav:
  - Dojo: index.md
  - Configuration: configuration.md
  - CLI Usage: cli-reference.md
  - Changelog: changelog.md
  - API Reference: api-reference.md

extra:
  generator: false
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/bwrob/

exclude_docs: |
  fonts/README.md
